@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

@for $x from 1 through 10 {
  .font-size-#{ -($x - 11)} {
    font-size: 0.8 + math.div($x, 10) + rem;
  }
}

@for $x from 1 through 10 {
  .header-font-size-#{ -($x - 11)} {
    font-size: 1 + $x * 0.28 + rem;
  }
}
.font-weight-light {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}
